<a href="https://colab.research.google.com/github/renatopenha/Google_colab_ex/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import requests as r
import json

#lendo csv
dados = pd.read_csv('http://emsapi.esy.es/dados/notas_alunos_graduacao.csv', encoding='UTF-8')

dados.head()

                 Nome  Nota1  Nota2  Nota3  Nota4  Nota5
0        Abel Marques   3.78    9.0    2.0    3.0    9.0
1     Abigail Camillo   8.00    2.0    7.0    2.0    2.0
2      Adriana Passos   8.00    6.0    1.0    6.0    2.0
3  Ajuricaba Casquero   6.00    4.0    5.0   10.0   10.0
4       Aline Beltrán   0.00    2.0    9.0    2.0    3.0